In [1]:
import os
import pandas as pd

In [2]:
# Caminho do arquivo parquet da camada bronze
bronze_path = "bronze/ibov/ibov.parquet"

# Garantir que o diretório silver exista
os.makedirs("silver/ibov", exist_ok=True)

# Carregar dados da camada bronze
df_ibov = pd.read_parquet(bronze_path)

#df_ibov

# Transformações
df_ibov['ticker'] = df_ibov['ticker'].astype(str).str.strip().str.upper()

# Remover valores nulos e duplicados
df_ibov = df_ibov.dropna(subset=['ticker'])
df_ibov = df_ibov.drop_duplicates(subset=['ticker'])
df_ibov

# Salvar no diretório silver
silver_path = "silver/ibov/ibov.parquet"
df_ibov.to_parquet(silver_path, index=False)

print(f"Arquivo salvo em {silver_path}")

Arquivo salvo em silver/ibov/ibov.parquet

In [3]:
df_ibov

   ticker
0   ALOS3
1   ABEV3
2   ASAI3
3   AURE3
4   AMOB3
..    ...
82  VAMO3
83  VBBR3
84  VIVA3
85  WEGE3
86  YDUQ3

[87 rows x 1 columns]

In [ ]:
tab_ibov

tab_bovespa