In [1]:
import os
import numpy as np
from urllib.request import urlretrieve
import zipfile
from datetime import date, datetime

In [2]:
# Cria o arquivo ibov.csv vazio, se ele não existir

if not os.path.exists("ibov.csv"):
    with open("ibov.csv", "w") as f:
        f.write("")  # opcionalmente, adicionar um cabeçalho

In [3]:
import pandas as pd

In [10]:
df_ibov = pd.read_csv(
    #"ibov copy.csv",
    "landing/ibov/ibov.csv",
    encoding="latin1",
    sep=";",
    decimal=","
    )

df_ibov

            Codigo      Accaoo           Tipo  Qtde. Teorica  Part. (%)
ALOS3        ALLOS  ON  ED  NM    476.976.044          0.468        NaN
ABEV3    AMBEV S/A          ON  4.394.835.131          2.876        NaN
ASAI3        ASSAI  ON  ED  NM  1.345.832.968          0.577        NaN
AURE3        AUREN  ON  ED  NM    323.738.747          0.133        NaN
AMOB3      AUTOMOB  ON      NM    533.959.816          0.006        NaN
...            ...         ...            ...            ...        ...
VAMO3        VAMOS  ON      NM    485.166.826          0.121        NaN
VBBR3        VIBRA  ON  ED  NM  1.023.538.460          0.908        NaN
VIVA3  VIVARA S.A.  ON  ED  NM    125.446.075          0.123        NaN
WEGE3          WEG  ON      NM  1.243.177.587          2.881        NaN
YDUQ3   YDUQS PART  ON      NM    277.677.050          0.182        NaN

[87 rows x 5 columns]

In [11]:
df_reset = df_ibov.reset_index().rename(columns={'index': 'Ticker'})
df_reset

   Ticker       Codigo      Accaoo           Tipo  Qtde. Teorica  Part. (%)
0   ALOS3        ALLOS  ON  ED  NM    476.976.044          0.468        NaN
1   ABEV3    AMBEV S/A          ON  4.394.835.131          2.876        NaN
2   ASAI3        ASSAI  ON  ED  NM  1.345.832.968          0.577        NaN
3   AURE3        AUREN  ON  ED  NM    323.738.747          0.133        NaN
4   AMOB3      AUTOMOB  ON      NM    533.959.816          0.006        NaN
..    ...          ...         ...            ...            ...        ...
82  VAMO3        VAMOS  ON      NM    485.166.826          0.121        NaN
83  VBBR3        VIBRA  ON  ED  NM  1.023.538.460          0.908        NaN
84  VIVA3  VIVARA S.A.  ON  ED  NM    125.446.075          0.123        NaN
85  WEGE3          WEG  ON      NM  1.243.177.587          2.881        NaN
86  YDUQ3   YDUQS PART  ON      NM    277.677.050          0.182        NaN

[87 rows x 6 columns]